<article class="module no-bottom-space hero hidden-vh">
	<div class="content-wrapper">
		<section class="text-image flexbox">
			<div>
				<h1>{{data.content.title}}</h1>
				<p>{{data.content.titleFirstParagraph}}</p>
				<p>{{data.content.titleSecondParagraph}}</p>
			</div>
			<figure class="align-end">
				<img src="{{data.content.titleImage}}" />
			</figure>
		</section>
		<div class="vh" ng-controller="HiddenVHController">
			<i></i>
			<i></i>
			<div class="flexbox align-items-center">
				<p>{[{dialogue}]}</p>
			</div>
			<img ng-click="runSequence($event)" src="{{data.content.hiddenVHImage}}" />
		</div>
	</div>
</article>
<article class="module hide-vh">
	<div class="content-wrapper">
		<section class="skills-viewer flexbox" ng-controller="SkillController">
			<ul class="fill-space" focusable-objects>
				{{#each data.skills}}
					<li ng-click="loadSkill('{{name}}')" ng-class="{ active: activeSkill == '{{name}}' }" focus-object>{{name}} <i></i></li>
				{{/each}}
			</ul>
			<div class="viewer" ng-class="{ active: viewerActive }">
				<div class="flexbox justify-space-around flex-wrap">
					<figure>
						<figcaption>HTML5</figcaption>
						<div class="percentage-circle">
							<div class="quarter" style="transform: rotate(45deg);"></div>
						    <div class="quarter" style="transform: rotate(135deg);"></div>
						    <div class="quarter" style="transform: rotate(225deg);"></div>
						    <div class="quarter" style="transform: rotate(315deg);"></div>
						    <div class="cover" style="display: none;"></div>
						    <i class="text">100</i>
						</div>
					</figure>
					<figure>
						<figcaption>HTML3</figcaption>
						<div class="percentage-circle">
							<div class="quarter" style="transform: rotate(45deg);"></div>
						    <div class="quarter" style="transform: rotate(135deg);"></div>
						    <div class="quarter" style="transform: rotate(225deg);"></div>
						    <div class="quarter" style="transform: rotate(315deg);"></div>
						    <div class="cover" style="display: none;"></div>
						    <i class="text">100</i>
						</div>
					</figure>
					<figure>
						<figcaption>HTML</figcaption>
						<div class="percentage-circle">
							<div class="quarter" style="transform: rotate(45deg);"></div>
						    <div class="quarter" style="transform: rotate(135deg);"></div>
						    <div class="quarter" style="transform: rotate(225deg);"></div>
						    <div class="quarter" style="transform: rotate(315deg);"></div>
						    <div class="cover" style="display: none;"></div>
						    <i class="text">100</i>
						</div>
					</figure>
				</div>
				<div class="details">
					<h4>Other Skills/Tools:</h4>
					<ul>
						<li>Angular</li>
						<li>jQuery</li>
						<li>KnockoutJS</li>
						<li>Handlebars</li>
						<li>RequireJS</li>
						<li>UI/UX</li>
						<li>PhotoShop</li>
						<li>And more...</li>
					</ul>
					<p>As a Front-End expert I never leave aside the importance of the most simple things. My understanding of the document's flow, specificity and how the browser interprets the styles is what I consider my #1 skill. I also have a good eye for those details that really make a difference in designs.</p>
				</div>
			</div>
		</section>
	</div>
</article>
